body{height: 100vh;
    
    background-image: url("./tom\ y\ jerry.jpg");


    background-size: cover;

    background-repeat: no-repeat;
        width: 80%;
    
        height: 90%;
}


h1{
font-size: 50px;


    margin: 10px;
}


.boton{

    font-size: 1em;
    padding: 1em;
    border-radius: 3px;
    background-color: #131313;
    color: #ffffff;
    border: none;
    position: relative;
    margin: 0em auto 0 auto;
    display: block;
}